*{
    margin: 0%;
    padding: 0%;
}
body{
    background-image: url("Imgs/pokeearth.jpg");
    background-attachment: fixed;
    background-position: center; 
    background-size: cover;
}
.card{
    width: 200px;
    height: 250px;
    margin: 1em;
    border-radius: 1em;
    margin-top: 4rem;
    text-align: center;   
  }

#root{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;  
  }

.card-text{
    color:black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px; 
    background-color:white;
    width: 65%;
}
